/* =====> MEDIA QUERIES START <===== */

@media screen and (max-width: 319px)
{
	/* GLOBAL */	
	
	body {
		font-size: 14px
	}
	
	/* INDEX.HTML */
	
	.index-about-button,
	.index-database-button,
	.index-map-button,
	.index-story-button {
		font-size: 12px;
		width: 75%
	}
	
	.index-header { 
		margin-bottom: 20px	
	}
	
	.index-section-subtitle {
		font-size: 18px	
	}
	
	/* ABOUT.HTML */
	
	.about-copyright-creator,
	.about-copyright-tiers,
	.about-creator-description,
	.about-text {
		font-size: 12px
	}
	
	.about-copyright-title,
	.about-creator-title, 
	.about-title {
		font-size: 15px;	
	}
	
	.about-creator-description,
	.about-creator-picture {
		display: block;
		margin: 5% auto;
		vertical-align: none	
	}
	
	.about-creator-description {
		width: 90%	
	}
	
	.about-creator-picture {
		width: 50%	
	}
	
	.about-return-button {
		font-size: 8px
	}

}

@media screen and (min-width: 320px) and (max-width: 767px)
{
	/* GLOBAL */	
	
	body {
		font-size: 16px
	}
	
	/* INDEX.HTML */
	
	.index-about-button,
	.index-database-button,
	.index-map-button,
	.index-story-button {
		font-size: 12px;
		width: 50%
	}
	
	.index-header { 
		margin-bottom: 30px	
	}	
	
	.index-section-subtitle {
		font-size: 20px	
	}
	
	/* ABOUT.HTML */
	
	.about-copyright-creator, 
	.about-copyright-tiers, 
	.about-creator-description, 
	.about-text {
		font-size: 14px
	}
	
	.about-copyright-title, 
	.about-creator-title,
	.about-title {
		font-size: 17px;	
	}
	
	.about-creator-description, 
	.about-creator-picture {
		display: inline-block;
		margin: 5%;
		vertical-align: top	
	}
	
	.about-creator-description {
		width: 40%	
	}
	
	.about-creator-picture {
		width: 30%	
	}
	
	.about-return-button {
		font-size: 10px
	}	
	
}

@media screen and (min-width: 768px) and (max-width: 1199px)
{

	/* GLOBAL */	
	
	body {
		font-size: 18px
	}
	
	/* INDEX.HTML */	
	
	.index-about-button,
	.index-database-button,
	.index-map-button,
	.index-story-button {
		font-size: 14px;
		width: 40%
	}
	
	.index-header { 
		margin-bottom: 40px	
	}	
	
	.index-section-subtitle {
		font-size: 22px	
	}
	
	/* ABOUT.HTML */	
	
	.about-copyright-creator, 
	.about-copyright-tiers, 
	.about-creator-description,
	.about-text {
		font-size: 16px
	}
	
	.about-copyright-title, 
	.about-creator-title,
	.about-title {
		font-size: 20px;	
	}
	
	.about-creator-description, 
	.about-creator-picture {
		display: inline-block;
		margin: 5%;
		vertical-align: top	
	}
	
	.about-creator-description {
		width: 40%	
	}
	
	.about-creator-picture {
		width: 30%	
	}
	
	.about-return-button {
		font-size: 16px
	}
	
}

@media screen and (min-width: 1200px)
{
	
	/* GLOBAL */
	
	body {
		font-size: 20px
	}
	
	/* INDEX.HTML */
	
	.index-about-button,
	.index-database-button,
	.index-map-button,
	.index-story-button {
		font-size: 16px;
		width: 30%	
	}
	
	.index-header { 
		margin-bottom: 50px	
	}	
	
	.index-section-subtitle {
		font-size: 24px	
	}
	
	/* ABOUT.HTML */	
	
	.about-copyright-creator, 
	.about-copyright-tiers, 
	.about-creator-description,
	.about-text {
		font-size: 18px
	}
	
	.about-copyright-title, 
	.about-creator-title,
	.about-title {
		font-size: 22px;	
	}
	
	.about-creator-description,
	.about-creator-picture {
		display: inline-block;
		margin: 5%;
		vertical-align: top	
	}
	
	.about-creator-description {
		width: 40%	
	}
	
	.about-creator-picture {
		width: 30%	
	}
	
	.about-return-button {
		font-size: 20px
	}
	
}

/* =====> MEDIA QUERIES END <===== */

/* GLOBAL */

a {
	color: inherit;
	font-weight: bold;
	text-decoration: none
	
}

body {
	background-attachment: fixed;
	background-image: url(../img/back.jpg);
	background-size: cover;
	margin: 0px;
	text-align: center
}

/* INDEX.HTML */

.index-about-section, 
.index-database-section, 
.index-header, 
.index-map-section, 
.index-story-section {
	box-shadow: 5px 5px 5px black
}

.index-about-button,
.index-database-button,
.index-map-button,
.index-story-button {
	background-image: url(../img/button.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	border: 2px solid black;
	border-radius: 15px;
	color: #FFFFFF;
	font-weight: bold;
	margin-bottom: 8px;
	margin-left: auto;
	margin-right: auto
}

.index-about-button:hover,
.index-database-button:hover,
.index-map-button:hover,
.index-story-button:hover {
	border: 1px solid black;
	box-shadow: 3px 3px 3px black;
	font-style: italic;
	margin-bottom: 10px
}

.index-about-section, 
.index-database-section, 
.index-map-section, 
.index-story-section {
	background-repeat: no-repeat;
	background-size: cover;
	border: 2px solid black;
	margin-bottom: 20px;
	margin-left: auto;
	margin-right: auto;
	width: 75%
}

.index-about-section {
	background-image: url(../img/sky.jpg)
}

.index-database-section {
	background-image: url(../img/bookbg.png)
}

.index-header {
	width: 100%
}

.index-map-section {
	background-image: url(../img/map.jpg)
}

.index-section-subtitle {
	font-weight: bold;
	margin-top: 5px
}

.index-story-section {
	background-image: url(../img/story.jpg)
}

/* DATABASE.HTML */

.database-return-button {
	background-color: white;
	border: 2px solid black;
	box-shadow: 5px 5px 5px black;
	margin-left: 20%;
	margin-top: 10px;
	text-align: center;
	width: 60%
}

.database-return-button p {
	margin: 5px
}

/* ABOUT.HTML */

.about-container,
.about-creator-container, 
.about-creator-description, 
.about-creator-picture, 
.about-creator-title, 
.about-footer, 
.about-return-button {
	border: 2px solid black;
	box-shadow: 5px 5px 5px black
}
 
.about-container,
.about-creator-container, 
.about-creator-description, 
.about-creator-title, 
.about-footer, 
.about-return-button {
	background-repeat: no-repeat;
	background-size: cover
}

.about-container,
.about-creator-container, 
.about-footer, 
.about-return-button {
	background-image: url(../img/creatorbg.png);
	margin-left: auto;
	margin-right: auto
}

.about-container,
.about-creator-container, 
.about-footer {
	margin-top: 10px
}

.about-copyright-tiers, 
.about-creator-description,
.about-text {
	text-align: left;
} 

.about-copyright-title, 
.about-creator-title,
.about-title {
	font-weight: bold;
	margin-top: 0px
}

.about-container, 
.about-footer {
	padding: 5%;
	width: 80%
}

.about-creator-description, 
.about-creator-title {
	background-image: url(../img/creawood.jpg)
}

.about-creator-container {
	padding: 5% 0%;
	width: 90%
}

.about-creator-description {
	padding: 2% 2%;
}

.about-creator-title {
	margin: 0% 5%;
	padding: 2% 0%;
	width: 89%
}

.about-footer {
	margin-bottom: 10px
}

.about-return-button {
	margin-top: -5%;
	width: 10%
}

.about-return-button:hover {
	margin-top: 0%;
	width: 50%
}

.about-return-button p {
	display: inline;
}

.about-return-button .about-return-hidden {
	visibility: hidden;
}

.about-return-button:hover .about-return-hidden {
	visibility: visible;
}

/* Coming Soon page style */

.comsoon, .return {
	margin-left: auto;
	margin-right: auto;
	margin-top: 10%
}

.comsoon {
	font-size: 10vw
}

.return {
	font-size: 5vw
}

/* End of Coming Soon page style */