@media screen and (max-width: 320px)
{
	body {
		font-size: 14px
	}
	
	.btchara, .btmap, .btstory, .btabout {
		font-size: 10px	
	}
	
	.subtitle {
		font-size: 18px	
	}
}

@media screen and (min-width: 321px) and (max-width: 767px)
{
	body {
		font-size: 16px
	}
	
	.btchara, .btmap, .btstory, .btabout {
		font-size: 12px	
	}
	
	.subtitle {
		font-size: 20px	
	}
}

@media screen and (min-width: 768px) and (max-width: 1199px)
{
	body {
		font-size: 18px
	}
	
	.btchara, .btmap, .btstory, .btabout {
		font-size: 14px	
	}
	
	.subtitle {
		font-size: 22px	
	}
}

@media screen and (min-width: 1200px)
{
	body {
		font-size: 20px
	}
	
	.btchara, .btmap, .btstory, .btabout {
		font-size: 16px	
	}
	
	.subtitle {
		font-size: 24px	
	}
}

a {
	color: black;
	text-decoration: none;
	font-weight: bold
}

.about {
	background-image: url(./img/sky.jpg)
}

.about p {
	/*visibility: hidden*/
}

body {
	margin: 0px;
	text-align: center;
	background-image: url(./img/back.jpg);
	background-size: cover;
	background-attachment: fixed
}

.btchara, .btmap, .btstory, .btabout {
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 8px;
	border: 1px solid black;
	width: 25%;
	border-radius: 15px;
	vertical-align: top;
	font-weight: bold;
}

.btabout {
	background-color: #FF00FF
}

.btchara {
	background-color: #AAAAFF
}

.btmap {
	background-color: #FFFF00
}

.btstory {
	background-color: #FF0000
}

.chara, .map, .story, .about {
	width: 75%;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 20px;
	border: 2px solid black;
	background-repeat: no-repeat;
	background-size: cover;
}

.chara {
	background-image: url(./img/bookbg.png);
}

.chara p {
	/*visibility: hidden*/
}

.comsoon {
	margin-top: 10%;
	margin-left: auto;
	margin-right: auto;
	font-size: 10vw
}

.header {
	width: 100%;
	margin-bottom: 50px
}

.map {
	background-image: url(./img/map.jpg);
}

.map p {
	/*visibility: hidden*/
}

.return {
	margin-top: 10%;
	margin-left: auto;
	margin-right: auto;
	font-size: 5vw
}

.story {
	background-image: url(./img/story.jpg)
}

.story p {
	/*visibility: hidden*/
}

.subtitle {
	font-weight: bold;
	margin-top: 5px
}