/* media query */

@media screen and (max-width: 320px)
{
	body {
		font-size: 14px
	}
	
	.btabout, .btchara, .btmap, .btstory {
		font-size: 10px	
	}
	
	.subtitle {
		font-size: 18px	
	}
}

@media screen and (min-width: 321px) and (max-width: 767px)
{
	body {
		font-size: 16px
	}
	
	.btabout, .btchara, .btmap, .btstory {
		font-size: 12px	
	}
	
	.subtitle {
		font-size: 20px	
	}
}

@media screen and (min-width: 768px) and (max-width: 1199px)
{
	body {
		font-size: 18px
	}
	
	.btabout, .btchara, .btmap, .btstory {
		font-size: 14px	
	}
	
	.subtitle {
		font-size: 22px	
	}
}

@media screen and (min-width: 1200px)
{
	body {
		font-size: 20px
	}
	
	.btabout, .btchara, .btmap, .btstory {
		font-size: 16px	
	}
	
	.subtitle {
		font-size: 24px	
	}
}

/* end of media query */

/* general style */

a {
	color: black;
	font-weight: bold;
	text-decoration: none
	
}

body {
	background-attachment: fixed;
	background-image: url(./img/back.jpg);
	background-size: cover;
	margin: 0px;
	text-align: center
}

/* end of general style */

/* button style */

.btabout, .btchara, .btmap, .btstory {
	border: 2px solid black;
	border-radius: 15px;	
	font-weight: bold;
	margin-bottom: 8px;
	margin-left: auto;
	margin-right: auto;
	vertical-align: top;
	width: 25%
}

.btabout:hover, .btchara:hover, .btmap:hover, .btstory:hover {
	border: 1px solid black;
	border-radius: 15px;	
	box-shadow: 3px 3px 3px black;
	font-weight: bold;
	font-style: italic;
	margin-bottom: 10px;
	margin-left: auto;
	margin-right: auto;
	width: 25%
}

.btabout {
	background-color: #FF00FF
}

.btchara {
	background-color: #AAAAFF
}

.btmap {
	background-color: #FFFF00
}

.btstory {
	background-color: #FF0000
}

/* end of button style */

/* index style */

.about {
	background-image: url(./img/sky.jpg)
}

.about, .chara, .map, .story {
	background-repeat: no-repeat;
	background-size: cover;
	border: 2px solid black;
	box-shadow: 5px 5px 5px #111111;
	margin-bottom: 20px;
	margin-left: auto;
	margin-right: auto;
	width: 75%
}

.chara {
	background-image: url(./img/bookbg.png)
}

.header {
	box-shadow: 0px 5px 5px black;
	margin-bottom: 50px;
	width: 100%
}

.map {
	background-image: url(./img/map.jpg)
}


.story {
	background-image: url(./img/story.jpg)
}

.subtitle {
	font-weight: bold;
	margin-top: 5px
}

/* end of index style */

/* coming soon page style */

.comsoon, .return {
	margin-left: auto;
	margin-right: auto;
	margin-top: 10%
}

.comsoon {
	font-size: 10vw
}

.return {
	font-size: 5vw
}

